@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .neo-button {
    @apply bg-neo-orange border-2 border-neo-black shadow-neo
    hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-none transition-all px-4 py-2 font-bold
    dark:bg-dark-card dark:text-neo-orange dark:border-dark-border dark:shadow-neo-dark
    dark:hover:bg-dark-hover;
  }

  .neo-card {
    @apply bg-white border-2 border-neo-black shadow-neo px-4 py-2 
           flex flex-col h-auto min-h-0
           dark:bg-dark-card dark:text-gray-300 dark:border-dark-border dark:shadow-neo-dark;
  }

  .neo-bold-card {
    @apply bg-neo-orange border-2 border-neo-black shadow-neo px-4 py-2
    dark:bg-dark-card dark:text-gray-100 dark:border-dark-border dark:shadow-neo-dark;
  }

  .neo-input {
    @apply bg-white border-2 border-neo-black shadow-neo px-4 py-2 
    focus:outline-none focus:shadow-none focus:translate-x-[2px] focus:translate-y-[2px] transition-all
    dark:bg-dark-card dark:text-gray-100 dark:border-dark-border;
  }
}

/* Only apply transitions after page load */
.transitioning {
  @apply transition-colors duration-200;
}

body {
  @apply bg-neo-cream dark:bg-dark-bg;
  font-family: 'Inter', sans-serif;
}